.App {
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  height: 65px;
  border: none;
  border-radius: 5px;
  background-color: #eeea;
  color: #223749;
  font-weight: bold;
  font-size: 1.15em;
  transition: 100ms;
  max-width: 20vw;
  min-width: 250px;
  margin: 7px;
}

button:hover {
  background-color: #eeed;
  box-shadow: 0px 0px 30px #eee;
}

input {
  height: 30px;
  width: 20vw;
  margin: 8px;
  text-align: center;
  font-size: 18px;
  border-radius: 2px;
  color: black
}

::placeholder {
  font-weight: bold;
  color: #372E2D;
}

.Home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/brick.jpg");
  background-size: cover;
}

.Home > h1 {
  font-size: 50px;
  text-shadow: 1px 1px 10px #000a
}

.tileContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  width:80%;
  
}

.cornerMenu{
  position: absolute;
  top: 0px;
  right: 0px;
}